<div class="event__card">  
  <div class="event_title">
    <%= link_to " #{event.title} ", event_path(event.id), class: :card__title%>
  </div>  
  <p class="event__body">
    <%= link_to "#{event.body}", event_path(event.id), class: :card_body %>
  </p>
  <p class="event__date">
    <%= link_to "#{event.limit_date}", event_path(event.id), class: :card_date %>
  </p>
  <p class="event__name">
    <%= link_to "by #{event.user.name}", "/users/#{event.user.id}", class: :card__user %>
  </p>
</div>