<h1>イベント一覧</h1>
  <ul class="list-group">
    <% @events.each.do |event| %>
      <%= link_to(event, class:"list-group-item list-group-item-action") do %>
      <h5 class="list-group-item-heading">
        <%= event.name %>
      </h5>
      <p class="mb-1">
        <%= "#{|(event.start_at,format: :long)} - #{|(event.end_at,format: :long)}" %>
      </p>

      <%= end %>
  </ul>